body {
    background-color: black;
    border: 0px;
    margin: 0px;
    padding: 0px;
    display: block;
    font-family: 'Teko', sans-serif;
}

#wrapper {
    min-height: 600px;
    width: 100%;
}

#head {
    background-color: rgb(10, 38, 88);
    color: rgb(224, 211, 21);
    white-space: nowrap;
    min-height: 50px; 
    font-size: 80px;
}

#content {
    background-color: rgb(3, 34, 54);
    color: rgb(160, 229, 169);
    min-height: 500px;
    font-size: 26px;
}

#foot {
    background-color: rgb(10, 38, 88);
    color: rgb(140, 212, 235);
    white-space: nowrap;
    font-family: 'Rajdhani', sans-serif;
    min-height: 50px; 
    font-size: 16px;
}

#TPS_signature {
    text-align: left;
}

#donbattery {
    text-align: right;
}