html, body {
    height : 100%;    
}

body {
    background-color: black;
    border: 0px;
    margin: 0px;
    padding: 0px;
    display: block;
    font-family: 'Teko', sans-serif;
}

#wrapper {
    min-height: 600px;
    width: 100%;
}

#head {
    background-color: rgb(10, 38, 88);
}

#welcome {
    color: rgb(224, 211, 21);
    white-space: nowrap; 
    padding-left: 10px;
    font-size: 2.5rem;
}

#content {
    background-color: rgb(3, 34, 54);
    color: rgb(160, 229, 169);
    min-height: 500px;
    font-size: 1.5rem;
}

#foot {
    background-color: rgb(10, 38, 88);
    color: rgb(140, 212, 235);
    white-space: nowrap;
    font-family: 'Rajdhani', sans-serif;
    min-height: 50px; 
    font-size: 0.75rem;
}

#TPS_signature {
    padding-top: 5px;
    padding-left: 10px;
    text-align: left;
}

#donbattery {
    padding-right: 5px;
    text-align: right;
}