html, body {
padding: 0px;
border: 0px;
margin: 0px;
box-sizing: border-box;
background-color:black;
height: 100%;
width: 100%;
font-family: Courier New, Courier, monospace;
}

.wrapper {
  position: absolute;
  background-color: rgb(31, 0, 65);
  font-size: 1.2rem;
  color: aquamarine;
  width: 90%;
  /* height: 90%; */
  left: 5%;
  top: 5%;
}

.box {
  border: 2px solid blue;
  border-radius: 3px;
  margin: 5px;
  padding: 5px;
}

.normal {
  color: aliceblue;
}

.error {
  color: red;
}

