* {box-sizing: border-box;margin: 0px;padding: 0px;position: absolute;height: 100%; width: 100%} 
.row0.col0{left: 0%;top :0%; height: 10%; width: 10%; background : rgb(29, 105, 133);} 
.row0.col1{left: 10%;top :0%; height: 10%; width: 10%; background : rgb(250, 218, 46);} 
.row0.col2{left: 20%;top :0%; height: 10%; width: 10%; background : rgb(69, 51, 124);} 
.row0.col3{left: 30%;top :0%; height: 10%; width: 10%; background : rgb(149, 102, 221);} 
.row0.col4{left: 40%;top :0%; height: 10%; width: 10%; background : rgb(204, 148, 231);} 
.row0.col5{left: 50%;top :0%; height: 10%; width: 10%; background : rgb(144, 230, 217);} 
.row0.col6{left: 60%;top :0%; height: 10%; width: 10%; background : rgb(250, 7, 154);} 
.row0.col7{left: 70%;top :0%; height: 10%; width: 10%; background : rgb(33, 54, 211);} 
.row0.col8{left: 80%;top :0%; height: 10%; width: 10%; background : rgb(193, 99, 0);} 
.row0.col9{left: 90%;top :0%; height: 10%; width: 10%; background : rgb(150, 108, 255);} 
.row1.col0{left: 0%;top :10%; height: 10%; width: 10%; background : rgb(39, 34, 47);} 
.row1.col1{left: 10%;top :10%; height: 10%; width: 10%; background : rgb(245, 88, 251);} 
.row1.col2{left: 20%;top :10%; height: 10%; width: 10%; background : rgb(69, 32, 248);} 
.row1.col3{left: 30%;top :10%; height: 10%; width: 10%; background : rgb(89, 233, 86);} 
.row1.col4{left: 40%;top :10%; height: 10%; width: 10%; background : rgb(2, 168, 57);} 
.row1.col5{left: 50%;top :10%; height: 10%; width: 10%; background : rgb(143, 112, 212);} 
.row1.col6{left: 60%;top :10%; height: 10%; width: 10%; background : rgb(214, 27, 45);} 
.row1.col7{left: 70%;top :10%; height: 10%; width: 10%; background : rgb(166, 198, 22);} 
.row1.col8{left: 80%;top :10%; height: 10%; width: 10%; background : rgb(176, 25, 54);} 
.row1.col9{left: 90%;top :10%; height: 10%; width: 10%; background : rgb(184, 103, 78);} 
.row2.col0{left: 0%;top :20%; height: 10%; width: 10%; background : rgb(192, 113, 61);} 
.row2.col1{left: 10%;top :20%; height: 10%; width: 10%; background : rgb(109, 13, 170);} 
.row2.col2{left: 20%;top :20%; height: 10%; width: 10%; background : rgb(104, 44, 1);} 
.row2.col3{left: 30%;top :20%; height: 10%; width: 10%; background : rgb(162, 245, 176);} 
.row2.col4{left: 40%;top :20%; height: 10%; width: 10%; background : rgb(34, 128, 213);} 
.row2.col5{left: 50%;top :20%; height: 10%; width: 10%; background : rgb(128, 45, 165);} 
.row2.col6{left: 60%;top :20%; height: 10%; width: 10%; background : rgb(71, 140, 116);} 
.row2.col7{left: 70%;top :20%; height: 10%; width: 10%; background : rgb(126, 15, 103);} 
.row2.col8{left: 80%;top :20%; height: 10%; width: 10%; background : rgb(45, 12, 163);} 
.row2.col9{left: 90%;top :20%; height: 10%; width: 10%; background : rgb(132, 220, 117);} 
.row3.col0{left: 0%;top :30%; height: 10%; width: 10%; background : rgb(19, 172, 244);} 
.row3.col1{left: 10%;top :30%; height: 10%; width: 10%; background : rgb(211, 109, 41);} 
.row3.col2{left: 20%;top :30%; height: 10%; width: 10%; background : rgb(154, 8, 211);} 
.row3.col3{left: 30%;top :30%; height: 10%; width: 10%; background : rgb(38, 67, 234);} 
.row3.col4{left: 40%;top :30%; height: 10%; width: 10%; background : rgb(23, 80, 85);} 
.row3.col5{left: 50%;top :30%; height: 10%; width: 10%; background : rgb(174, 70, 187);} 
.row3.col6{left: 60%;top :30%; height: 10%; width: 10%; background : rgb(54, 71, 193);} 
.row3.col7{left: 70%;top :30%; height: 10%; width: 10%; background : rgb(76, 77, 5);} 
.row3.col8{left: 80%;top :30%; height: 10%; width: 10%; background : rgb(94, 179, 5);} 
.row3.col9{left: 90%;top :30%; height: 10%; width: 10%; background : rgb(64, 48, 225);} 
.row4.col0{left: 0%;top :40%; height: 10%; width: 10%; background : rgb(126, 125, 241);} 
.row4.col1{left: 10%;top :40%; height: 10%; width: 10%; background : rgb(132, 98, 162);} 
.row4.col2{left: 20%;top :40%; height: 10%; width: 10%; background : rgb(82, 2, 105);} 
.row4.col3{left: 30%;top :40%; height: 10%; width: 10%; background : rgb(23, 24, 48);} 
.row4.col4{left: 40%;top :40%; height: 10%; width: 10%; background : rgb(245, 65, 77);} 
.row4.col5{left: 50%;top :40%; height: 10%; width: 10%; background : rgb(99, 78, 48);} 
.row4.col6{left: 60%;top :40%; height: 10%; width: 10%; background : rgb(37, 51, 130);} 
.row4.col7{left: 70%;top :40%; height: 10%; width: 10%; background : rgb(250, 228, 178);} 
.row4.col8{left: 80%;top :40%; height: 10%; width: 10%; background : rgb(10, 209, 176);} 
.row4.col9{left: 90%;top :40%; height: 10%; width: 10%; background : rgb(192, 6, 186);} 
.row5.col0{left: 0%;top :50%; height: 10%; width: 10%; background : rgb(52, 30, 202);} 
.row5.col1{left: 10%;top :50%; height: 10%; width: 10%; background : rgb(233, 216, 43);} 
.row5.col2{left: 20%;top :50%; height: 10%; width: 10%; background : rgb(31, 28, 68);} 
.row5.col3{left: 30%;top :50%; height: 10%; width: 10%; background : rgb(68, 197, 216);} 
.row5.col4{left: 40%;top :50%; height: 10%; width: 10%; background : rgb(81, 19, 65);} 
.row5.col5{left: 50%;top :50%; height: 10%; width: 10%; background : rgb(52, 24, 194);} 
.row5.col6{left: 60%;top :50%; height: 10%; width: 10%; background : rgb(183, 138, 161);} 
.row5.col7{left: 70%;top :50%; height: 10%; width: 10%; background : rgb(20, 162, 83);} 
.row5.col8{left: 80%;top :50%; height: 10%; width: 10%; background : rgb(103, 56, 65);} 
.row5.col9{left: 90%;top :50%; height: 10%; width: 10%; background : rgb(155, 88, 32);} 
.row6.col0{left: 0%;top :60%; height: 10%; width: 10%; background : rgb(98, 222, 154);} 
.row6.col1{left: 10%;top :60%; height: 10%; width: 10%; background : rgb(234, 163, 120);} 
.row6.col2{left: 20%;top :60%; height: 10%; width: 10%; background : rgb(139, 131, 38);} 
.row6.col3{left: 30%;top :60%; height: 10%; width: 10%; background : rgb(174, 253, 6);} 
.row6.col4{left: 40%;top :60%; height: 10%; width: 10%; background : rgb(190, 91, 36);} 
.row6.col5{left: 50%;top :60%; height: 10%; width: 10%; background : rgb(166, 148, 205);} 
.row6.col6{left: 60%;top :60%; height: 10%; width: 10%; background : rgb(154, 47, 1);} 
.row6.col7{left: 70%;top :60%; height: 10%; width: 10%; background : rgb(255, 199, 157);} 
.row6.col8{left: 80%;top :60%; height: 10%; width: 10%; background : rgb(199, 53, 117);} 
.row6.col9{left: 90%;top :60%; height: 10%; width: 10%; background : rgb(107, 20, 249);} 
.row7.col0{left: 0%;top :70%; height: 10%; width: 10%; background : rgb(215, 229, 86);} 
.row7.col1{left: 10%;top :70%; height: 10%; width: 10%; background : rgb(17, 105, 193);} 
.row7.col2{left: 20%;top :70%; height: 10%; width: 10%; background : rgb(1, 155, 115);} 
.row7.col3{left: 30%;top :70%; height: 10%; width: 10%; background : rgb(36, 68, 211);} 
.row7.col4{left: 40%;top :70%; height: 10%; width: 10%; background : rgb(67, 63, 221);} 
.row7.col5{left: 50%;top :70%; height: 10%; width: 10%; background : rgb(251, 50, 22);} 
.row7.col6{left: 60%;top :70%; height: 10%; width: 10%; background : rgb(86, 49, 181);} 
.row7.col7{left: 70%;top :70%; height: 10%; width: 10%; background : rgb(10, 23, 163);} 
.row7.col8{left: 80%;top :70%; height: 10%; width: 10%; background : rgb(123, 246, 216);} 
.row7.col9{left: 90%;top :70%; height: 10%; width: 10%; background : rgb(114, 103, 47);} 
.row8.col0{left: 0%;top :80%; height: 10%; width: 10%; background : rgb(28, 16, 60);} 
.row8.col1{left: 10%;top :80%; height: 10%; width: 10%; background : rgb(85, 180, 255);} 
.row8.col2{left: 20%;top :80%; height: 10%; width: 10%; background : rgb(7, 98, 189);} 
.row8.col3{left: 30%;top :80%; height: 10%; width: 10%; background : rgb(79, 255, 25);} 
.row8.col4{left: 40%;top :80%; height: 10%; width: 10%; background : rgb(136, 250, 190);} 
.row8.col5{left: 50%;top :80%; height: 10%; width: 10%; background : rgb(78, 24, 98);} 
.row8.col6{left: 60%;top :80%; height: 10%; width: 10%; background : rgb(81, 58, 140);} 
.row8.col7{left: 70%;top :80%; height: 10%; width: 10%; background : rgb(108, 23, 145);} 
.row8.col8{left: 80%;top :80%; height: 10%; width: 10%; background : rgb(194, 246, 61);} 
.row8.col9{left: 90%;top :80%; height: 10%; width: 10%; background : rgb(65, 11, 167);} 
.row9.col0{left: 0%;top :90%; height: 10%; width: 10%; background : rgb(234, 31, 237);} 
.row9.col1{left: 10%;top :90%; height: 10%; width: 10%; background : rgb(64, 75, 175);} 
.row9.col2{left: 20%;top :90%; height: 10%; width: 10%; background : rgb(223, 193, 63);} 
.row9.col3{left: 30%;top :90%; height: 10%; width: 10%; background : rgb(237, 18, 90);} 
.row9.col4{left: 40%;top :90%; height: 10%; width: 10%; background : rgb(45, 120, 221);} 
.row9.col5{left: 50%;top :90%; height: 10%; width: 10%; background : rgb(19, 91, 233);} 
.row9.col6{left: 60%;top :90%; height: 10%; width: 10%; background : rgb(148, 181, 98);} 
.row9.col7{left: 70%;top :90%; height: 10%; width: 10%; background : rgb(250, 241, 235);} 
.row9.col8{left: 80%;top :90%; height: 10%; width: 10%; background : rgb(163, 234, 152);} 
.row9.col9{left: 90%;top :90%; height: 10%; width: 10%; background : rgb(220, 75, 91);} 
