* {box-sizing: border-box;margin: 0px;padding: 0px;position: absolute;height: 100%; width: 100%} 
.row0.col0{left: 0%;top :0%; height: 12%; width: 20%; background : rgb(201, 197, 130);} 
.row0.col1{left: 20%;top :0%; height: 12%; width: 20%; background : rgb(153, 73, 20);} 
.row0.col2{left: 40%;top :0%; height: 12%; width: 20%; background : rgb(24, 218, 121);} 
.row0.col3{left: 60%;top :0%; height: 12%; width: 20%; background : rgb(22, 49, 127);} 
.row0.col4{left: 80%;top :0%; height: 12%; width: 20%; background : rgb(10, 172, 181);} 
.row1.col0{left: 0%;top :12%; height: 12%; width: 20%; background : rgb(184, 149, 163);} 
.row1.col1{left: 20%;top :12%; height: 12%; width: 20%; background : rgb(129, 127, 152);} 
.row1.col2{left: 40%;top :12%; height: 12%; width: 20%; background : rgb(138, 149, 35);} 
.row1.col3{left: 60%;top :12%; height: 12%; width: 20%; background : rgb(187, 31, 27);} 
.row1.col4{left: 80%;top :12%; height: 12%; width: 20%; background : rgb(33, 40, 140);} 
.row2.col0{left: 0%;top :24%; height: 12%; width: 20%; background : rgb(102, 2, 65);} 
.row2.col1{left: 20%;top :24%; height: 12%; width: 20%; background : rgb(113, 109, 122);} 
.row2.col2{left: 40%;top :24%; height: 12%; width: 20%; background : rgb(151, 20, 250);} 
.row2.col3{left: 60%;top :24%; height: 12%; width: 20%; background : rgb(125, 86, 110);} 
.row2.col4{left: 80%;top :24%; height: 12%; width: 20%; background : rgb(146, 121, 66);} 
.row3.col0{left: 0%;top :36%; height: 12%; width: 20%; background : rgb(97, 0, 133);} 
.row3.col1{left: 20%;top :36%; height: 12%; width: 20%; background : rgb(37, 45, 150);} 
.row3.col2{left: 40%;top :36%; height: 12%; width: 20%; background : rgb(170, 77, 194);} 
.row3.col3{left: 60%;top :36%; height: 12%; width: 20%; background : rgb(46, 95, 184);} 
.row3.col4{left: 80%;top :36%; height: 12%; width: 20%; background : rgb(79, 175, 120);} 
.row4.col0{left: 0%;top :48%; height: 12%; width: 20%; background : rgb(73, 201, 133);} 
.row4.col1{left: 20%;top :48%; height: 12%; width: 20%; background : rgb(8, 106, 204);} 
.row4.col2{left: 40%;top :48%; height: 12%; width: 20%; background : rgb(208, 85, 127);} 
.row4.col3{left: 60%;top :48%; height: 12%; width: 20%; background : rgb(130, 133, 110);} 
.row4.col4{left: 80%;top :48%; height: 12%; width: 20%; background : rgb(87, 137, 167);} 
.row5.col0{left: 0%;top :60%; height: 12%; width: 20%; background : rgb(47, 21, 177);} 
.row5.col1{left: 20%;top :60%; height: 12%; width: 20%; background : rgb(255, 228, 58);} 
.row5.col2{left: 40%;top :60%; height: 12%; width: 20%; background : rgb(211, 59, 50);} 
.row5.col3{left: 60%;top :60%; height: 12%; width: 20%; background : rgb(53, 122, 68);} 
.row5.col4{left: 80%;top :60%; height: 12%; width: 20%; background : rgb(103, 125, 59);} 
.row6.col0{left: 0%;top :72%; height: 12%; width: 20%; background : rgb(179, 227, 158);} 
.row6.col1{left: 20%;top :72%; height: 12%; width: 20%; background : rgb(217, 88, 201);} 
.row6.col2{left: 40%;top :72%; height: 12%; width: 20%; background : rgb(101, 250, 201);} 
.row6.col3{left: 60%;top :72%; height: 12%; width: 20%; background : rgb(152, 22, 137);} 
.row6.col4{left: 80%;top :72%; height: 12%; width: 20%; background : rgb(212, 128, 32);} 
.row7.col0{left: 0%;top :84%; height: 12%; width: 20%; background : rgb(243, 237, 28);} 
.row7.col1{left: 20%;top :84%; height: 12%; width: 20%; background : rgb(44, 4, 217);} 
.row7.col2{left: 40%;top :84%; height: 12%; width: 20%; background : rgb(145, 203, 40);} 
.row7.col3{left: 60%;top :84%; height: 12%; width: 20%; background : rgb(76, 52, 240);} 
.row7.col4{left: 80%;top :84%; height: 12%; width: 20%; background : rgb(84, 38, 20);} 
