* {box-sizing: border-box;margin: 0px;padding: 0px;position: absolute;height: 100%; width: 100%} 
.row0.col0{left: 0%;top :0%; height: 10%; width: 10%; background : rgb(2, 35, 93);} 
.row0.col1{left: 10%;top :0%; height: 10%; width: 10%; background : rgb(56, 27, 143);} 
.row0.col2{left: 20%;top :0%; height: 10%; width: 10%; background : rgb(249, 73, 111);} 
.row0.col3{left: 30%;top :0%; height: 10%; width: 10%; background : rgb(154, 170, 112);} 
.row0.col4{left: 40%;top :0%; height: 10%; width: 10%; background : rgb(32, 190, 15);} 
.row0.col5{left: 50%;top :0%; height: 10%; width: 10%; background : rgb(41, 199, 172);} 
.row0.col6{left: 60%;top :0%; height: 10%; width: 10%; background : rgb(4, 193, 114);} 
.row0.col7{left: 70%;top :0%; height: 10%; width: 10%; background : rgb(243, 3, 221);} 
.row0.col8{left: 80%;top :0%; height: 10%; width: 10%; background : rgb(229, 131, 254);} 
.row0.col9{left: 90%;top :0%; height: 10%; width: 10%; background : rgb(96, 21, 69);} 
.row1.col0{left: 0%;top :10%; height: 10%; width: 10%; background : rgb(98, 251, 186);} 
.row1.col1{left: 10%;top :10%; height: 10%; width: 10%; background : rgb(156, 217, 243);} 
.row1.col2{left: 20%;top :10%; height: 10%; width: 10%; background : rgb(28, 175, 142);} 
.row1.col3{left: 30%;top :10%; height: 10%; width: 10%; background : rgb(149, 28, 58);} 
.row1.col4{left: 40%;top :10%; height: 10%; width: 10%; background : rgb(247, 225, 240);} 
.row1.col5{left: 50%;top :10%; height: 10%; width: 10%; background : rgb(50, 194, 86);} 
.row1.col6{left: 60%;top :10%; height: 10%; width: 10%; background : rgb(227, 22, 121);} 
.row1.col7{left: 70%;top :10%; height: 10%; width: 10%; background : rgb(144, 222, 7);} 
.row1.col8{left: 80%;top :10%; height: 10%; width: 10%; background : rgb(194, 56, 25);} 
.row1.col9{left: 90%;top :10%; height: 10%; width: 10%; background : rgb(115, 102, 170);} 
.row2.col0{left: 0%;top :20%; height: 10%; width: 10%; background : rgb(254, 192, 169);} 
.row2.col1{left: 10%;top :20%; height: 10%; width: 10%; background : rgb(210, 128, 26);} 
.row2.col2{left: 20%;top :20%; height: 10%; width: 10%; background : rgb(21, 250, 70);} 
.row2.col3{left: 30%;top :20%; height: 10%; width: 10%; background : rgb(80, 228, 41);} 
.row2.col4{left: 40%;top :20%; height: 10%; width: 10%; background : rgb(206, 205, 217);} 
.row2.col5{left: 50%;top :20%; height: 10%; width: 10%; background : rgb(1, 140, 145);} 
.row2.col6{left: 60%;top :20%; height: 10%; width: 10%; background : rgb(134, 189, 242);} 
.row2.col7{left: 70%;top :20%; height: 10%; width: 10%; background : rgb(54, 141, 207);} 
.row2.col8{left: 80%;top :20%; height: 10%; width: 10%; background : rgb(197, 239, 243);} 
.row2.col9{left: 90%;top :20%; height: 10%; width: 10%; background : rgb(81, 147, 70);} 
.row3.col0{left: 0%;top :30%; height: 10%; width: 10%; background : rgb(166, 128, 238);} 
.row3.col1{left: 10%;top :30%; height: 10%; width: 10%; background : rgb(204, 231, 138);} 
.row3.col2{left: 20%;top :30%; height: 10%; width: 10%; background : rgb(194, 153, 93);} 
.row3.col3{left: 30%;top :30%; height: 10%; width: 10%; background : rgb(65, 220, 43);} 
.row3.col4{left: 40%;top :30%; height: 10%; width: 10%; background : rgb(242, 114, 170);} 
.row3.col5{left: 50%;top :30%; height: 10%; width: 10%; background : rgb(168, 98, 18);} 
.row3.col6{left: 60%;top :30%; height: 10%; width: 10%; background : rgb(220, 124, 125);} 
.row3.col7{left: 70%;top :30%; height: 10%; width: 10%; background : rgb(108, 224, 207);} 
.row3.col8{left: 80%;top :30%; height: 10%; width: 10%; background : rgb(214, 184, 253);} 
.row3.col9{left: 90%;top :30%; height: 10%; width: 10%; background : rgb(142, 64, 148);} 
.row4.col0{left: 0%;top :40%; height: 10%; width: 10%; background : rgb(114, 92, 243);} 
.row4.col1{left: 10%;top :40%; height: 10%; width: 10%; background : rgb(139, 193, 29);} 
.row4.col2{left: 20%;top :40%; height: 10%; width: 10%; background : rgb(218, 51, 72);} 
.row4.col3{left: 30%;top :40%; height: 10%; width: 10%; background : rgb(42, 28, 155);} 
.row4.col4{left: 40%;top :40%; height: 10%; width: 10%; background : rgb(189, 18, 66);} 
.row4.col5{left: 50%;top :40%; height: 10%; width: 10%; background : rgb(199, 117, 37);} 
.row4.col6{left: 60%;top :40%; height: 10%; width: 10%; background : rgb(109, 5, 59);} 
.row4.col7{left: 70%;top :40%; height: 10%; width: 10%; background : rgb(46, 245, 162);} 
.row4.col8{left: 80%;top :40%; height: 10%; width: 10%; background : rgb(44, 218, 238);} 
.row4.col9{left: 90%;top :40%; height: 10%; width: 10%; background : rgb(222, 178, 22);} 
.row5.col0{left: 0%;top :50%; height: 10%; width: 10%; background : rgb(171, 243, 124);} 
.row5.col1{left: 10%;top :50%; height: 10%; width: 10%; background : rgb(83, 121, 10);} 
.row5.col2{left: 20%;top :50%; height: 10%; width: 10%; background : rgb(45, 107, 7);} 
.row5.col3{left: 30%;top :50%; height: 10%; width: 10%; background : rgb(146, 2, 58);} 
.row5.col4{left: 40%;top :50%; height: 10%; width: 10%; background : rgb(58, 250, 233);} 
.row5.col5{left: 50%;top :50%; height: 10%; width: 10%; background : rgb(133, 141, 224);} 
.row5.col6{left: 60%;top :50%; height: 10%; width: 10%; background : rgb(126, 178, 83);} 
.row5.col7{left: 70%;top :50%; height: 10%; width: 10%; background : rgb(152, 161, 8);} 
.row5.col8{left: 80%;top :50%; height: 10%; width: 10%; background : rgb(45, 3, 134);} 
.row5.col9{left: 90%;top :50%; height: 10%; width: 10%; background : rgb(119, 252, 90);} 
.row6.col0{left: 0%;top :60%; height: 10%; width: 10%; background : rgb(151, 241, 56);} 
.row6.col1{left: 10%;top :60%; height: 10%; width: 10%; background : rgb(111, 197, 102);} 
.row6.col2{left: 20%;top :60%; height: 10%; width: 10%; background : rgb(70, 45, 163);} 
.row6.col3{left: 30%;top :60%; height: 10%; width: 10%; background : rgb(251, 33, 220);} 
.row6.col4{left: 40%;top :60%; height: 10%; width: 10%; background : rgb(145, 116, 209);} 
.row6.col5{left: 50%;top :60%; height: 10%; width: 10%; background : rgb(122, 185, 138);} 
.row6.col6{left: 60%;top :60%; height: 10%; width: 10%; background : rgb(52, 247, 39);} 
.row6.col7{left: 70%;top :60%; height: 10%; width: 10%; background : rgb(200, 68, 65);} 
.row6.col8{left: 80%;top :60%; height: 10%; width: 10%; background : rgb(111, 73, 190);} 
.row6.col9{left: 90%;top :60%; height: 10%; width: 10%; background : rgb(221, 24, 120);} 
.row7.col0{left: 0%;top :70%; height: 10%; width: 10%; background : rgb(253, 151, 236);} 
.row7.col1{left: 10%;top :70%; height: 10%; width: 10%; background : rgb(254, 87, 6);} 
.row7.col2{left: 20%;top :70%; height: 10%; width: 10%; background : rgb(23, 115, 22);} 
.row7.col3{left: 30%;top :70%; height: 10%; width: 10%; background : rgb(13, 174, 130);} 
.row7.col4{left: 40%;top :70%; height: 10%; width: 10%; background : rgb(57, 161, 179);} 
.row7.col5{left: 50%;top :70%; height: 10%; width: 10%; background : rgb(58, 192, 150);} 
.row7.col6{left: 60%;top :70%; height: 10%; width: 10%; background : rgb(86, 198, 167);} 
.row7.col7{left: 70%;top :70%; height: 10%; width: 10%; background : rgb(190, 150, 133);} 
.row7.col8{left: 80%;top :70%; height: 10%; width: 10%; background : rgb(172, 160, 76);} 
.row7.col9{left: 90%;top :70%; height: 10%; width: 10%; background : rgb(92, 136, 69);} 
.row8.col0{left: 0%;top :80%; height: 10%; width: 10%; background : rgb(75, 105, 68);} 
.row8.col1{left: 10%;top :80%; height: 10%; width: 10%; background : rgb(237, 146, 117);} 
.row8.col2{left: 20%;top :80%; height: 10%; width: 10%; background : rgb(164, 216, 220);} 
.row8.col3{left: 30%;top :80%; height: 10%; width: 10%; background : rgb(152, 86, 251);} 
.row8.col4{left: 40%;top :80%; height: 10%; width: 10%; background : rgb(72, 209, 70);} 
.row8.col5{left: 50%;top :80%; height: 10%; width: 10%; background : rgb(64, 73, 160);} 
.row8.col6{left: 60%;top :80%; height: 10%; width: 10%; background : rgb(16, 143, 173);} 
.row8.col7{left: 70%;top :80%; height: 10%; width: 10%; background : rgb(195, 115, 156);} 
.row8.col8{left: 80%;top :80%; height: 10%; width: 10%; background : rgb(235, 231, 155);} 
.row8.col9{left: 90%;top :80%; height: 10%; width: 10%; background : rgb(247, 209, 100);} 
.row9.col0{left: 0%;top :90%; height: 10%; width: 10%; background : rgb(250, 231, 79);} 
.row9.col1{left: 10%;top :90%; height: 10%; width: 10%; background : rgb(208, 210, 7);} 
.row9.col2{left: 20%;top :90%; height: 10%; width: 10%; background : rgb(56, 123, 50);} 
.row9.col3{left: 30%;top :90%; height: 10%; width: 10%; background : rgb(97, 67, 214);} 
.row9.col4{left: 40%;top :90%; height: 10%; width: 10%; background : rgb(131, 199, 214);} 
.row9.col5{left: 50%;top :90%; height: 10%; width: 10%; background : rgb(24, 100, 174);} 
.row9.col6{left: 60%;top :90%; height: 10%; width: 10%; background : rgb(229, 160, 154);} 
.row9.col7{left: 70%;top :90%; height: 10%; width: 10%; background : rgb(0, 104, 11);} 
.row9.col8{left: 80%;top :90%; height: 10%; width: 10%; background : rgb(145, 245, 244);} 
.row9.col9{left: 90%;top :90%; height: 10%; width: 10%; background : rgb(89, 140, 27);} 
