* {box-sizing: border-box;margin: 0px;padding: 0px;position: absolute;height: 100%; width: 100%}
.row0.col0{left: 0%;top :0%; height: 10%; width: 10%; background : rgb(176, 208, 148);} 
.row0.col1{left: 10%;top :0%; height: 10%; width: 10%; background : rgb(243, 21, 220);} 
.row0.col2{left: 20%;top :0%; height: 10%; width: 10%; background : rgb(142, 216, 97);} 
.row0.col3{left: 30%;top :0%; height: 10%; width: 10%; background : rgb(195, 47, 0);} 
.row0.col4{left: 40%;top :0%; height: 10%; width: 10%; background : rgb(37, 75, 228);} 
.row0.col5{left: 50%;top :0%; height: 10%; width: 10%; background : rgb(182, 92, 241);} 
.row0.col6{left: 60%;top :0%; height: 10%; width: 10%; background : rgb(206, 138, 119);} 
.row0.col7{left: 70%;top :0%; height: 10%; width: 10%; background : rgb(19, 159, 105);} 
.row0.col8{left: 80%;top :0%; height: 10%; width: 10%; background : rgb(253, 184, 15);} 
.row0.col9{left: 90%;top :0%; height: 10%; width: 10%; background : rgb(106, 97, 40);} 
.row1.col0{left: 0%;top :10%; height: 10%; width: 10%; background : rgb(160, 117, 82);} 
.row1.col1{left: 10%;top :10%; height: 10%; width: 10%; background : rgb(96, 234, 12);} 
.row1.col2{left: 20%;top :10%; height: 10%; width: 10%; background : rgb(167, 254, 66);} 
.row1.col3{left: 30%;top :10%; height: 10%; width: 10%; background : rgb(182, 71, 238);} 
.row1.col4{left: 40%;top :10%; height: 10%; width: 10%; background : rgb(185, 37, 123);} 
.row1.col5{left: 50%;top :10%; height: 10%; width: 10%; background : rgb(13, 27, 39);} 
.row1.col6{left: 60%;top :10%; height: 10%; width: 10%; background : rgb(17, 18, 154);} 
.row1.col7{left: 70%;top :10%; height: 10%; width: 10%; background : rgb(156, 235, 107);} 
.row1.col8{left: 80%;top :10%; height: 10%; width: 10%; background : rgb(113, 209, 239);} 
.row1.col9{left: 90%;top :10%; height: 10%; width: 10%; background : rgb(185, 87, 125);} 
.row2.col0{left: 0%;top :20%; height: 10%; width: 10%; background : rgb(25, 137, 141);} 
.row2.col1{left: 10%;top :20%; height: 10%; width: 10%; background : rgb(224, 82, 221);} 
.row2.col2{left: 20%;top :20%; height: 10%; width: 10%; background : rgb(58, 168, 32);} 
.row2.col3{left: 30%;top :20%; height: 10%; width: 10%; background : rgb(62, 78, 89);} 
.row2.col4{left: 40%;top :20%; height: 10%; width: 10%; background : rgb(111, 220, 151);} 
.row2.col5{left: 50%;top :20%; height: 10%; width: 10%; background : rgb(226, 242, 196);} 
.row2.col6{left: 60%;top :20%; height: 10%; width: 10%; background : rgb(22, 32, 186);} 
.row2.col7{left: 70%;top :20%; height: 10%; width: 10%; background : rgb(120, 182, 231);} 
.row2.col8{left: 80%;top :20%; height: 10%; width: 10%; background : rgb(69, 16, 10);} 
.row2.col9{left: 90%;top :20%; height: 10%; width: 10%; background : rgb(88, 148, 6);} 
.row3.col0{left: 0%;top :30%; height: 10%; width: 10%; background : rgb(132, 2, 218);} 
.row3.col1{left: 10%;top :30%; height: 10%; width: 10%; background : rgb(174, 240, 170);} 
.row3.col2{left: 20%;top :30%; height: 10%; width: 10%; background : rgb(216, 92, 127);} 
.row3.col3{left: 30%;top :30%; height: 10%; width: 10%; background : rgb(11, 5, 51);} 
.row3.col4{left: 40%;top :30%; height: 10%; width: 10%; background : rgb(145, 63, 238);} 
.row3.col5{left: 50%;top :30%; height: 10%; width: 10%; background : rgb(178, 73, 50);} 
.row3.col6{left: 60%;top :30%; height: 10%; width: 10%; background : rgb(214, 207, 225);} 
.row3.col7{left: 70%;top :30%; height: 10%; width: 10%; background : rgb(182, 19, 246);} 
.row3.col8{left: 80%;top :30%; height: 10%; width: 10%; background : rgb(109, 23, 202);} 
.row3.col9{left: 90%;top :30%; height: 10%; width: 10%; background : rgb(156, 189, 97);} 
.row4.col0{left: 0%;top :40%; height: 10%; width: 10%; background : rgb(251, 141, 170);} 
.row4.col1{left: 10%;top :40%; height: 10%; width: 10%; background : rgb(25, 146, 91);} 
.row4.col2{left: 20%;top :40%; height: 10%; width: 10%; background : rgb(194, 188, 48);} 
.row4.col3{left: 30%;top :40%; height: 10%; width: 10%; background : rgb(183, 174, 228);} 
.row4.col4{left: 40%;top :40%; height: 10%; width: 10%; background : rgb(89, 117, 124);} 
.row4.col5{left: 50%;top :40%; height: 10%; width: 10%; background : rgb(83, 79, 128);} 
.row4.col6{left: 60%;top :40%; height: 10%; width: 10%; background : rgb(192, 132, 26);} 
.row4.col7{left: 70%;top :40%; height: 10%; width: 10%; background : rgb(148, 127, 55);} 
.row4.col8{left: 80%;top :40%; height: 10%; width: 10%; background : rgb(177, 9, 253);} 
.row4.col9{left: 90%;top :40%; height: 10%; width: 10%; background : rgb(194, 27, 84);} 
.row5.col0{left: 0%;top :50%; height: 10%; width: 10%; background : rgb(66, 158, 2);} 
.row5.col1{left: 10%;top :50%; height: 10%; width: 10%; background : rgb(143, 169, 52);} 
.row5.col2{left: 20%;top :50%; height: 10%; width: 10%; background : rgb(51, 18, 222);} 
.row5.col3{left: 30%;top :50%; height: 10%; width: 10%; background : rgb(202, 239, 149);} 
.row5.col4{left: 40%;top :50%; height: 10%; width: 10%; background : rgb(78, 45, 190);} 
.row5.col5{left: 50%;top :50%; height: 10%; width: 10%; background : rgb(215, 56, 120);} 
.row5.col6{left: 60%;top :50%; height: 10%; width: 10%; background : rgb(167, 113, 85);} 
.row5.col7{left: 70%;top :50%; height: 10%; width: 10%; background : rgb(138, 233, 186);} 
.row5.col8{left: 80%;top :50%; height: 10%; width: 10%; background : rgb(233, 12, 50);} 
.row5.col9{left: 90%;top :50%; height: 10%; width: 10%; background : rgb(236, 117, 76);} 
.row6.col0{left: 0%;top :60%; height: 10%; width: 10%; background : rgb(154, 111, 65);} 
.row6.col1{left: 10%;top :60%; height: 10%; width: 10%; background : rgb(236, 135, 242);} 
.row6.col2{left: 20%;top :60%; height: 10%; width: 10%; background : rgb(77, 82, 0);} 
.row6.col3{left: 30%;top :60%; height: 10%; width: 10%; background : rgb(137, 82, 110);} 
.row6.col4{left: 40%;top :60%; height: 10%; width: 10%; background : rgb(128, 72, 53);} 
.row6.col5{left: 50%;top :60%; height: 10%; width: 10%; background : rgb(162, 184, 255);} 
.row6.col6{left: 60%;top :60%; height: 10%; width: 10%; background : rgb(236, 17, 170);} 
.row6.col7{left: 70%;top :60%; height: 10%; width: 10%; background : rgb(48, 15, 76);} 
.row6.col8{left: 80%;top :60%; height: 10%; width: 10%; background : rgb(181, 11, 27);} 
.row6.col9{left: 90%;top :60%; height: 10%; width: 10%; background : rgb(70, 58, 101);} 
.row7.col0{left: 0%;top :70%; height: 10%; width: 10%; background : rgb(100, 189, 200);} 
.row7.col1{left: 10%;top :70%; height: 10%; width: 10%; background : rgb(153, 194, 241);} 
.row7.col2{left: 20%;top :70%; height: 10%; width: 10%; background : rgb(61, 25, 134);} 
.row7.col3{left: 30%;top :70%; height: 10%; width: 10%; background : rgb(147, 144, 119);} 
.row7.col4{left: 40%;top :70%; height: 10%; width: 10%; background : rgb(16, 188, 111);} 
.row7.col5{left: 50%;top :70%; height: 10%; width: 10%; background : rgb(107, 214, 108);} 
.row7.col6{left: 60%;top :70%; height: 10%; width: 10%; background : rgb(120, 145, 227);} 
.row7.col7{left: 70%;top :70%; height: 10%; width: 10%; background : rgb(212, 29, 233);} 
.row7.col8{left: 80%;top :70%; height: 10%; width: 10%; background : rgb(6, 31, 167);} 
.row7.col9{left: 90%;top :70%; height: 10%; width: 10%; background : rgb(30, 187, 230);} 
.row8.col0{left: 0%;top :80%; height: 10%; width: 10%; background : rgb(128, 219, 108);} 
.row8.col1{left: 10%;top :80%; height: 10%; width: 10%; background : rgb(25, 211, 107);} 
.row8.col2{left: 20%;top :80%; height: 10%; width: 10%; background : rgb(31, 136, 199);} 
.row8.col3{left: 30%;top :80%; height: 10%; width: 10%; background : rgb(85, 247, 245);} 
.row8.col4{left: 40%;top :80%; height: 10%; width: 10%; background : rgb(38, 233, 217);} 
.row8.col5{left: 50%;top :80%; height: 10%; width: 10%; background : rgb(221, 187, 44);} 
.row8.col6{left: 60%;top :80%; height: 10%; width: 10%; background : rgb(90, 209, 127);} 
.row8.col7{left: 70%;top :80%; height: 10%; width: 10%; background : rgb(248, 87, 240);} 
.row8.col8{left: 80%;top :80%; height: 10%; width: 10%; background : rgb(237, 209, 134);} 
.row8.col9{left: 90%;top :80%; height: 10%; width: 10%; background : rgb(157, 210, 97);} 
.row9.col0{left: 0%;top :90%; height: 10%; width: 10%; background : rgb(67, 181, 226);} 
.row9.col1{left: 10%;top :90%; height: 10%; width: 10%; background : rgb(46, 124, 77);} 
.row9.col2{left: 20%;top :90%; height: 10%; width: 10%; background : rgb(93, 238, 111);} 
.row9.col3{left: 30%;top :90%; height: 10%; width: 10%; background : rgb(240, 48, 47);} 
.row9.col4{left: 40%;top :90%; height: 10%; width: 10%; background : rgb(145, 65, 174);} 
.row9.col5{left: 50%;top :90%; height: 10%; width: 10%; background : rgb(209, 173, 146);} 
.row9.col6{left: 60%;top :90%; height: 10%; width: 10%; background : rgb(66, 115, 168);} 
.row9.col7{left: 70%;top :90%; height: 10%; width: 10%; background : rgb(136, 173, 170);} 
.row9.col8{left: 80%;top :90%; height: 10%; width: 10%; background : rgb(231, 173, 203);} 
.row9.col9{left: 90%;top :90%; height: 10%; width: 10%; background : rgb(85, 105, 131);} 
