* {box-sizing: border-box;margin: 0px;padding: 0px;position: absolute;height: 100%; width: 100%} 
.row0.col0{left: 0%;top :0%; height: 10%; width: 12%; background : rgb(16, 154, 7);} 
.row0.col1{left: 12%;top :0%; height: 10%; width: 12%; background : rgb(35, 152, 66);} 
.row0.col2{left: 24%;top :0%; height: 10%; width: 12%; background : rgb(221, 130, 199);} 
.row0.col3{left: 36%;top :0%; height: 10%; width: 12%; background : rgb(183, 75, 96);} 
.row0.col4{left: 48%;top :0%; height: 10%; width: 12%; background : rgb(25, 47, 160);} 
.row0.col5{left: 60%;top :0%; height: 10%; width: 12%; background : rgb(130, 225, 158);} 
.row0.col6{left: 72%;top :0%; height: 10%; width: 12%; background : rgb(208, 140, 203);} 
.row0.col7{left: 84%;top :0%; height: 10%; width: 12%; background : rgb(50, 114, 89);} 
.row1.col0{left: 0%;top :10%; height: 10%; width: 12%; background : rgb(73, 13, 209);} 
.row1.col1{left: 12%;top :10%; height: 10%; width: 12%; background : rgb(218, 162, 223);} 
.row1.col2{left: 24%;top :10%; height: 10%; width: 12%; background : rgb(216, 169, 151);} 
.row1.col3{left: 36%;top :10%; height: 10%; width: 12%; background : rgb(29, 195, 139);} 
.row1.col4{left: 48%;top :10%; height: 10%; width: 12%; background : rgb(11, 164, 69);} 
.row1.col5{left: 60%;top :10%; height: 10%; width: 12%; background : rgb(179, 192, 27);} 
.row1.col6{left: 72%;top :10%; height: 10%; width: 12%; background : rgb(1, 67, 192);} 
.row1.col7{left: 84%;top :10%; height: 10%; width: 12%; background : rgb(59, 132, 89);} 
.row2.col0{left: 0%;top :20%; height: 10%; width: 12%; background : rgb(214, 112, 126);} 
.row2.col1{left: 12%;top :20%; height: 10%; width: 12%; background : rgb(135, 188, 29);} 
.row2.col2{left: 24%;top :20%; height: 10%; width: 12%; background : rgb(223, 215, 111);} 
.row2.col3{left: 36%;top :20%; height: 10%; width: 12%; background : rgb(119, 176, 142);} 
.row2.col4{left: 48%;top :20%; height: 10%; width: 12%; background : rgb(66, 155, 108);} 
.row2.col5{left: 60%;top :20%; height: 10%; width: 12%; background : rgb(57, 133, 192);} 
.row2.col6{left: 72%;top :20%; height: 10%; width: 12%; background : rgb(22, 254, 193);} 
.row2.col7{left: 84%;top :20%; height: 10%; width: 12%; background : rgb(33, 32, 27);} 
.row3.col0{left: 0%;top :30%; height: 10%; width: 12%; background : rgb(87, 8, 84);} 
.row3.col1{left: 12%;top :30%; height: 10%; width: 12%; background : rgb(221, 202, 201);} 
.row3.col2{left: 24%;top :30%; height: 10%; width: 12%; background : rgb(129, 193, 7);} 
.row3.col3{left: 36%;top :30%; height: 10%; width: 12%; background : rgb(170, 67, 104);} 
.row3.col4{left: 48%;top :30%; height: 10%; width: 12%; background : rgb(240, 41, 253);} 
.row3.col5{left: 60%;top :30%; height: 10%; width: 12%; background : rgb(232, 206, 211);} 
.row3.col6{left: 72%;top :30%; height: 10%; width: 12%; background : rgb(178, 187, 251);} 
.row3.col7{left: 84%;top :30%; height: 10%; width: 12%; background : rgb(96, 143, 9);} 
.row4.col0{left: 0%;top :40%; height: 10%; width: 12%; background : rgb(107, 44, 43);} 
.row4.col1{left: 12%;top :40%; height: 10%; width: 12%; background : rgb(137, 129, 163);} 
.row4.col2{left: 24%;top :40%; height: 10%; width: 12%; background : rgb(33, 234, 108);} 
.row4.col3{left: 36%;top :40%; height: 10%; width: 12%; background : rgb(211, 28, 83);} 
.row4.col4{left: 48%;top :40%; height: 10%; width: 12%; background : rgb(104, 89, 111);} 
.row4.col5{left: 60%;top :40%; height: 10%; width: 12%; background : rgb(96, 110, 2);} 
.row4.col6{left: 72%;top :40%; height: 10%; width: 12%; background : rgb(159, 172, 169);} 
.row4.col7{left: 84%;top :40%; height: 10%; width: 12%; background : rgb(82, 105, 217);} 
.row5.col0{left: 0%;top :50%; height: 10%; width: 12%; background : rgb(236, 93, 254);} 
.row5.col1{left: 12%;top :50%; height: 10%; width: 12%; background : rgb(194, 104, 112);} 
.row5.col2{left: 24%;top :50%; height: 10%; width: 12%; background : rgb(100, 226, 199);} 
.row5.col3{left: 36%;top :50%; height: 10%; width: 12%; background : rgb(111, 221, 73);} 
.row5.col4{left: 48%;top :50%; height: 10%; width: 12%; background : rgb(84, 38, 240);} 
.row5.col5{left: 60%;top :50%; height: 10%; width: 12%; background : rgb(251, 47, 39);} 
.row5.col6{left: 72%;top :50%; height: 10%; width: 12%; background : rgb(176, 137, 146);} 
.row5.col7{left: 84%;top :50%; height: 10%; width: 12%; background : rgb(131, 225, 142);} 
.row6.col0{left: 0%;top :60%; height: 10%; width: 12%; background : rgb(197, 49, 201);} 
.row6.col1{left: 12%;top :60%; height: 10%; width: 12%; background : rgb(236, 221, 22);} 
.row6.col2{left: 24%;top :60%; height: 10%; width: 12%; background : rgb(8, 7, 18);} 
.row6.col3{left: 36%;top :60%; height: 10%; width: 12%; background : rgb(96, 239, 165);} 
.row6.col4{left: 48%;top :60%; height: 10%; width: 12%; background : rgb(16, 177, 24);} 
.row6.col5{left: 60%;top :60%; height: 10%; width: 12%; background : rgb(251, 182, 140);} 
.row6.col6{left: 72%;top :60%; height: 10%; width: 12%; background : rgb(241, 27, 200);} 
.row6.col7{left: 84%;top :60%; height: 10%; width: 12%; background : rgb(235, 255, 60);} 
.row7.col0{left: 0%;top :70%; height: 10%; width: 12%; background : rgb(155, 154, 210);} 
.row7.col1{left: 12%;top :70%; height: 10%; width: 12%; background : rgb(200, 128, 184);} 
.row7.col2{left: 24%;top :70%; height: 10%; width: 12%; background : rgb(242, 111, 208);} 
.row7.col3{left: 36%;top :70%; height: 10%; width: 12%; background : rgb(222, 74, 246);} 
.row7.col4{left: 48%;top :70%; height: 10%; width: 12%; background : rgb(76, 12, 53);} 
.row7.col5{left: 60%;top :70%; height: 10%; width: 12%; background : rgb(175, 91, 204);} 
.row7.col6{left: 72%;top :70%; height: 10%; width: 12%; background : rgb(175, 63, 239);} 
.row7.col7{left: 84%;top :70%; height: 10%; width: 12%; background : rgb(152, 108, 61);} 
.row8.col0{left: 0%;top :80%; height: 10%; width: 12%; background : rgb(137, 139, 7);} 
.row8.col1{left: 12%;top :80%; height: 10%; width: 12%; background : rgb(38, 255, 33);} 
.row8.col2{left: 24%;top :80%; height: 10%; width: 12%; background : rgb(132, 66, 147);} 
.row8.col3{left: 36%;top :80%; height: 10%; width: 12%; background : rgb(86, 254, 91);} 
.row8.col4{left: 48%;top :80%; height: 10%; width: 12%; background : rgb(216, 160, 237);} 
.row8.col5{left: 60%;top :80%; height: 10%; width: 12%; background : rgb(49, 123, 191);} 
.row8.col6{left: 72%;top :80%; height: 10%; width: 12%; background : rgb(197, 160, 47);} 
.row8.col7{left: 84%;top :80%; height: 10%; width: 12%; background : rgb(119, 46, 133);} 
.row9.col0{left: 0%;top :90%; height: 10%; width: 12%; background : rgb(174, 168, 210);} 
.row9.col1{left: 12%;top :90%; height: 10%; width: 12%; background : rgb(141, 56, 103);} 
.row9.col2{left: 24%;top :90%; height: 10%; width: 12%; background : rgb(0, 3, 151);} 
.row9.col3{left: 36%;top :90%; height: 10%; width: 12%; background : rgb(211, 44, 104);} 
.row9.col4{left: 48%;top :90%; height: 10%; width: 12%; background : rgb(73, 87, 237);} 
.row9.col5{left: 60%;top :90%; height: 10%; width: 12%; background : rgb(190, 32, 122);} 
.row9.col6{left: 72%;top :90%; height: 10%; width: 12%; background : rgb(86, 9, 122);} 
.row9.col7{left: 84%;top :90%; height: 10%; width: 12%; background : rgb(5, 223, 114);} 
