* {box-sizing: border-box;margin: 0px;padding: 0px;position: absolute;height: 100%; width: 100%} 
.row0.col0{left: 0%;top :0%; height: 10%; width: 10%; background : rgb(193, 163, 224);} 
.row0.col1{left: 10%;top :0%; height: 10%; width: 10%; background : rgb(89, 192, 106);} 
.row0.col2{left: 20%;top :0%; height: 10%; width: 10%; background : rgb(156, 173, 190);} 
.row0.col3{left: 30%;top :0%; height: 10%; width: 10%; background : rgb(221, 40, 115);} 
.row0.col4{left: 40%;top :0%; height: 10%; width: 10%; background : rgb(63, 189, 47);} 
.row0.col5{left: 50%;top :0%; height: 10%; width: 10%; background : rgb(19, 179, 144);} 
.row0.col6{left: 60%;top :0%; height: 10%; width: 10%; background : rgb(2, 155, 70);} 
.row0.col7{left: 70%;top :0%; height: 10%; width: 10%; background : rgb(116, 242, 39);} 
.row0.col8{left: 80%;top :0%; height: 10%; width: 10%; background : rgb(214, 233, 10);} 
.row0.col9{left: 90%;top :0%; height: 10%; width: 10%; background : rgb(167, 190, 138);} 
.row1.col0{left: 0%;top :10%; height: 10%; width: 10%; background : rgb(111, 216, 51);} 
.row1.col1{left: 10%;top :10%; height: 10%; width: 10%; background : rgb(223, 41, 79);} 
.row1.col2{left: 20%;top :10%; height: 10%; width: 10%; background : rgb(13, 181, 40);} 
.row1.col3{left: 30%;top :10%; height: 10%; width: 10%; background : rgb(155, 209, 206);} 
.row1.col4{left: 40%;top :10%; height: 10%; width: 10%; background : rgb(130, 126, 69);} 
.row1.col5{left: 50%;top :10%; height: 10%; width: 10%; background : rgb(197, 160, 62);} 
.row1.col6{left: 60%;top :10%; height: 10%; width: 10%; background : rgb(38, 199, 5);} 
.row1.col7{left: 70%;top :10%; height: 10%; width: 10%; background : rgb(132, 248, 8);} 
.row1.col8{left: 80%;top :10%; height: 10%; width: 10%; background : rgb(206, 74, 200);} 
.row1.col9{left: 90%;top :10%; height: 10%; width: 10%; background : rgb(45, 190, 225);} 
.row2.col0{left: 0%;top :20%; height: 10%; width: 10%; background : rgb(182, 45, 232);} 
.row2.col1{left: 10%;top :20%; height: 10%; width: 10%; background : rgb(91, 143, 59);} 
.row2.col2{left: 20%;top :20%; height: 10%; width: 10%; background : rgb(148, 183, 65);} 
.row2.col3{left: 30%;top :20%; height: 10%; width: 10%; background : rgb(95, 191, 241);} 
.row2.col4{left: 40%;top :20%; height: 10%; width: 10%; background : rgb(248, 147, 24);} 
.row2.col5{left: 50%;top :20%; height: 10%; width: 10%; background : rgb(30, 182, 198);} 
.row2.col6{left: 60%;top :20%; height: 10%; width: 10%; background : rgb(199, 9, 155);} 
.row2.col7{left: 70%;top :20%; height: 10%; width: 10%; background : rgb(46, 116, 101);} 
.row2.col8{left: 80%;top :20%; height: 10%; width: 10%; background : rgb(59, 35, 233);} 
.row2.col9{left: 90%;top :20%; height: 10%; width: 10%; background : rgb(84, 80, 69);} 
.row3.col0{left: 0%;top :30%; height: 10%; width: 10%; background : rgb(213, 135, 14);} 
.row3.col1{left: 10%;top :30%; height: 10%; width: 10%; background : rgb(209, 72, 231);} 
.row3.col2{left: 20%;top :30%; height: 10%; width: 10%; background : rgb(154, 27, 186);} 
.row3.col3{left: 30%;top :30%; height: 10%; width: 10%; background : rgb(91, 180, 20);} 
.row3.col4{left: 40%;top :30%; height: 10%; width: 10%; background : rgb(236, 35, 160);} 
.row3.col5{left: 50%;top :30%; height: 10%; width: 10%; background : rgb(70, 37, 20);} 
.row3.col6{left: 60%;top :30%; height: 10%; width: 10%; background : rgb(220, 241, 240);} 
.row3.col7{left: 70%;top :30%; height: 10%; width: 10%; background : rgb(209, 226, 242);} 
.row3.col8{left: 80%;top :30%; height: 10%; width: 10%; background : rgb(169, 46, 111);} 
.row3.col9{left: 90%;top :30%; height: 10%; width: 10%; background : rgb(209, 62, 17);} 
.row4.col0{left: 0%;top :40%; height: 10%; width: 10%; background : rgb(157, 72, 15);} 
.row4.col1{left: 10%;top :40%; height: 10%; width: 10%; background : rgb(148, 90, 239);} 
.row4.col2{left: 20%;top :40%; height: 10%; width: 10%; background : rgb(52, 83, 149);} 
.row4.col3{left: 30%;top :40%; height: 10%; width: 10%; background : rgb(251, 92, 187);} 
.row4.col4{left: 40%;top :40%; height: 10%; width: 10%; background : rgb(139, 128, 235);} 
.row4.col5{left: 50%;top :40%; height: 10%; width: 10%; background : rgb(241, 211, 114);} 
.row4.col6{left: 60%;top :40%; height: 10%; width: 10%; background : rgb(49, 55, 25);} 
.row4.col7{left: 70%;top :40%; height: 10%; width: 10%; background : rgb(127, 218, 100);} 
.row4.col8{left: 80%;top :40%; height: 10%; width: 10%; background : rgb(249, 8, 227);} 
.row4.col9{left: 90%;top :40%; height: 10%; width: 10%; background : rgb(121, 88, 169);} 
.row5.col0{left: 0%;top :50%; height: 10%; width: 10%; background : rgb(193, 159, 249);} 
.row5.col1{left: 10%;top :50%; height: 10%; width: 10%; background : rgb(177, 86, 12);} 
.row5.col2{left: 20%;top :50%; height: 10%; width: 10%; background : rgb(198, 80, 14);} 
.row5.col3{left: 30%;top :50%; height: 10%; width: 10%; background : rgb(188, 132, 182);} 
.row5.col4{left: 40%;top :50%; height: 10%; width: 10%; background : rgb(51, 233, 153);} 
.row5.col5{left: 50%;top :50%; height: 10%; width: 10%; background : rgb(238, 57, 97);} 
.row5.col6{left: 60%;top :50%; height: 10%; width: 10%; background : rgb(175, 19, 219);} 
.row5.col7{left: 70%;top :50%; height: 10%; width: 10%; background : rgb(165, 175, 173);} 
.row5.col8{left: 80%;top :50%; height: 10%; width: 10%; background : rgb(92, 211, 118);} 
.row5.col9{left: 90%;top :50%; height: 10%; width: 10%; background : rgb(155, 187, 124);} 
.row6.col0{left: 0%;top :60%; height: 10%; width: 10%; background : rgb(124, 96, 144);} 
.row6.col1{left: 10%;top :60%; height: 10%; width: 10%; background : rgb(140, 173, 60);} 
.row6.col2{left: 20%;top :60%; height: 10%; width: 10%; background : rgb(231, 217, 22);} 
.row6.col3{left: 30%;top :60%; height: 10%; width: 10%; background : rgb(2, 70, 87);} 
.row6.col4{left: 40%;top :60%; height: 10%; width: 10%; background : rgb(201, 88, 15);} 
.row6.col5{left: 50%;top :60%; height: 10%; width: 10%; background : rgb(5, 166, 222);} 
.row6.col6{left: 60%;top :60%; height: 10%; width: 10%; background : rgb(162, 169, 70);} 
.row6.col7{left: 70%;top :60%; height: 10%; width: 10%; background : rgb(131, 107, 183);} 
.row6.col8{left: 80%;top :60%; height: 10%; width: 10%; background : rgb(105, 102, 62);} 
.row6.col9{left: 90%;top :60%; height: 10%; width: 10%; background : rgb(46, 176, 100);} 
.row7.col0{left: 0%;top :70%; height: 10%; width: 10%; background : rgb(157, 52, 55);} 
.row7.col1{left: 10%;top :70%; height: 10%; width: 10%; background : rgb(33, 76, 44);} 
.row7.col2{left: 20%;top :70%; height: 10%; width: 10%; background : rgb(44, 228, 71);} 
.row7.col3{left: 30%;top :70%; height: 10%; width: 10%; background : rgb(110, 154, 8);} 
.row7.col4{left: 40%;top :70%; height: 10%; width: 10%; background : rgb(210, 109, 15);} 
.row7.col5{left: 50%;top :70%; height: 10%; width: 10%; background : rgb(159, 134, 180);} 
.row7.col6{left: 60%;top :70%; height: 10%; width: 10%; background : rgb(75, 229, 151);} 
.row7.col7{left: 70%;top :70%; height: 10%; width: 10%; background : rgb(222, 124, 56);} 
.row7.col8{left: 80%;top :70%; height: 10%; width: 10%; background : rgb(246, 33, 166);} 
.row7.col9{left: 90%;top :70%; height: 10%; width: 10%; background : rgb(56, 247, 4);} 
.row8.col0{left: 0%;top :80%; height: 10%; width: 10%; background : rgb(26, 1, 185);} 
.row8.col1{left: 10%;top :80%; height: 10%; width: 10%; background : rgb(131, 2, 206);} 
.row8.col2{left: 20%;top :80%; height: 10%; width: 10%; background : rgb(238, 179, 47);} 
.row8.col3{left: 30%;top :80%; height: 10%; width: 10%; background : rgb(111, 15, 144);} 
.row8.col4{left: 40%;top :80%; height: 10%; width: 10%; background : rgb(112, 136, 169);} 
.row8.col5{left: 50%;top :80%; height: 10%; width: 10%; background : rgb(6, 220, 240);} 
.row8.col6{left: 60%;top :80%; height: 10%; width: 10%; background : rgb(67, 53, 46);} 
.row8.col7{left: 70%;top :80%; height: 10%; width: 10%; background : rgb(19, 241, 49);} 
.row8.col8{left: 80%;top :80%; height: 10%; width: 10%; background : rgb(123, 219, 203);} 
.row8.col9{left: 90%;top :80%; height: 10%; width: 10%; background : rgb(207, 17, 110);} 
.row9.col0{left: 0%;top :90%; height: 10%; width: 10%; background : rgb(146, 177, 243);} 
.row9.col1{left: 10%;top :90%; height: 10%; width: 10%; background : rgb(31, 20, 249);} 
.row9.col2{left: 20%;top :90%; height: 10%; width: 10%; background : rgb(10, 129, 249);} 
.row9.col3{left: 30%;top :90%; height: 10%; width: 10%; background : rgb(59, 195, 17);} 
.row9.col4{left: 40%;top :90%; height: 10%; width: 10%; background : rgb(139, 207, 147);} 
.row9.col5{left: 50%;top :90%; height: 10%; width: 10%; background : rgb(192, 236, 107);} 
.row9.col6{left: 60%;top :90%; height: 10%; width: 10%; background : rgb(243, 83, 169);} 
.row9.col7{left: 70%;top :90%; height: 10%; width: 10%; background : rgb(55, 91, 125);} 
.row9.col8{left: 80%;top :90%; height: 10%; width: 10%; background : rgb(127, 92, 193);} 
.row9.col9{left: 90%;top :90%; height: 10%; width: 10%; background : rgb(149, 239, 118);} 
