html, body {
    height : 100%;
    min-height: 100%; 
}

body {
    background-color: black;
    border: 0px;
    margin: 0px;
    padding: 0px;
    font-family: 'Teko', sans-serif;
    box-sizing: border-box;
    display: block;
}

#wrapper {
    min-height: 600px;
    width: 100%;
    user-select: none;
}

#head {
    background-color: rgb(10, 38, 88);
}

#welcome {
    color: rgb(224, 211, 21);
    white-space: nowrap; 
    padding-left: 10px;
    font-size: 2.5rem;
}

#nav_bar {
    display: inline-block;
    position: fixed;
    top: 3px;
    right: 7px;
    font-size: 3rem;
    background-color: rgb(29, 29, 121);
    color: rgb(255, 230, 90);
    border: 2px solid rgb(99, 185, 185);
    border-radius: 5px;
    vertical-align: top;
    height: 3.4rem;
}

#login_button, #post_button {
    position: relative;
    top: -0.4rem;
    display: inline-block;
}

#login_button:hover {
    color: rgb(38, 255, 0);
}

#post_button:hover {
    color: rgb(38, 255, 0);
}


#content {
    background-color: rgb(3, 34, 54);
    color: rgb(160, 229, 169);
    min-height: 500px;
    font-size: 1.5rem;
}

#foot {
    background-color: rgb(10, 38, 88);
    color: rgb(140, 212, 235);
    white-space: nowrap;
    font-family: 'Rajdhani', sans-serif;
    min-height: 50px; 
    font-size: 0.75rem;
}

#TPS_signature {
    padding-top: 5px;
    padding-left: 10px;
    text-align: left;
}

#donbattery {
    padding-right: 5px;
    text-align: right;
}

#content > div:first-child {
    padding-top: 0.5rem;
}

.post {
    overflow-x: hidden;
    display: block;
    white-space: nowrap;
    font-family: 'Share Tech';
    font-size: 1rem;
    margin-left: 0.5rem;
    width: 100%;
    border-bottom: 1px solid rgb(118, 156, 126);
}

.point_box {
    display: inline-block;
    width: 2rem;
    vertical-align: top;
    padding-top: 0.5rem;
    text-align: center;
}

.arrow_button {
    font-size: 1.5rem;
}

.upvote_button:hover {
    color: rgb(0, 255, 0);
}

.downvote_button:hover {
    color: rgb(255, 0, 0);
}

.avatar_box {
    display: inline-block;
    height: 5.5rem;
    width: 5.5rem;
}


.avatar_pic {
    height: 5.5rem;
    width: 5.5rem;
}

.post_box {
    user-select: text;
    display: inline-block; 
    vertical-align: top;
    white-space: normal;
    font-size: 0.6rem;
    padding-top: 0.2rem;  
}

.username {
    color: rgb(231, 221, 78);
    font-size: 1rem;
}
.link_box {
    font-size: 1rem;
}

.post_text {
    padding-top: 0.1rem;
    font-size: 0.8rem;
}
.comment_box {  
    font-size: 0.7rem;
    vertical-align: bottom;
    width: 100%;
}

.comment_counter {
    display: inline-block;    
    width: 15%;
}

.comment_author {
    display: inline-block;    
    width: 20%;
}

.comment_text {
    display: inline-block;    
    width: 74%;
}

/* unvisited link */
a:link {
    color: rgb(105, 238, 238);
}

/* visited link */
a:visited {
    color: rgb(20, 111, 153);
}

/* mouse over link */
a:hover {
    color: rgb(70, 197, 58);
}

/* selected link */
a:active {
    color: rgb(193, 230, 178);
}
/* ------------------------------------------------------------------------------- */
#post_dialog {
    display: block;
    align-items: center;
    position: fixed;
    z-index: 100;
    left: 2%;
    top: 2%;
    right: 2%;
    background-color: rgb(10, 58, 73);
    color: aqua;
    font-size: 2rem;
}

#user_box {
    display: flex;
    width: 100;
}

#user_box_title {
    vertical-align: middle;
    display: inline-block;
}
#user_box_avatar {
    display: inline-block;
}
#user_box_username {
    vertical-align: middle;
    display: inline-block;
}

/* ------------------------------------------------------------------------------- */
/* Small media pseudo selectors */

@media screen and (max-width: 480px) {
    
    html{
        font-size: 0.75rem;
    }
    
    .avatar_box {
        display: none;
    }
    
    .point_box {
        padding-top: 0.1rem;
    }
    
}


/* Large media pseudo selectors  */

@media screen and (min-width: 900px) {
    
    html{
        font-size: 1.5rem;
    }
}